body,
html {
  overflow-x: hidden;
}

body .header {
  background-color: black;
  height: 100%;
  width: 5%;
  position: fixed;
}

body {
  background-color: #06111f;
}
.main {
  background-color: #06111f;
}
.main .caixa-recarga {
  margin-top: 80px;
  margin-left: 14.8%;
}
.main .container .row .card {
  background-color: #7a7b87;
  border: 0px;
}
.main .container .row .texto {
  color: white;
}
.main .caixa-recarga .card1 .test {
  font-size: larger;
}
.main .caixa-recarga .card1 .test .btn1:disabled {
  color: black;
  background-color: grey;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.main .caixa-recarga .card1 .test .btn1 {
  color: white;
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.main .caixa-recarga .card1 .test .btn2 {
  color: white;
  background-color: green;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 550px;
}
.main .caixa-recarga .card1 .test .btn2:disabled {
  color: black;
  background-color: grey;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 550px;
}
.main .caixa-recarga .card1 .test .btn3 {
  color: black;
  background-color: #ffaa00;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}
.main .container .row .card .botao {
  background-color: #27364d;
  border-radius: 5px;
}
.main .container .row .card .botao button:hover {
  background-color: #304767;
}
.main .container .row .card .link a {
  color: white;
}
.main .container .row .card .link a:hover {
  color: rgb(0, 0, 0);
}

.main .container .row .desc {
  height: 200px;
}

div.box {
  padding: 20px;
}
/*Caixa plano*/
.main .container.caixa-recarga .card.card1 {
  margin-left: 150px;
}
.main .container.caixa-recarga .card.card1 .controls .input-xlarge {
  width: 405px;
}
.main .container.caixa-recarga .card.card1 .control-group .controls .span2 {
  width: 100px;
}
.main .container.caixa-recarga .card.card1 .control-group .controls .span3 {
  width: 288px;
}
.main .container.caixa-recarga .card.card1 .control-group .controls .span4 {
  width: 405px;
}

body .footer {
  display: flex;
  background-color: black;
}
body .footer .row .col-2 {
  margin-left: 10px;
  margin-top: 20px;
  width: 100px;
}
body .footer .row .col-2 a {
  text-align: justify;
}
body .footer .row .col-2 .logo {
  height: 35px;
  width: 30px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: #161e29;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #27364d;
  -webkit-border-radius: 3px;
}
@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .footer {
    display: none !important;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1367px) {
  .header {
    width: 70px !important;
  }
  .main .caixa-recarga {
    margin-left: 73px;
  }
  .main .caixa-recarga .card .card-title {
    margin-left: 10px !important;
  }
  .main .caixa-recarga .icon {
    margin-left: 200px !important;
  }
  .footer {
    display: none !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1000px) {
  .header {
    display: none;
  }
  .footer {
    display: none !important;
  }
  .main .busca {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    display: none;
  }
  .main {
    position: relative;
  }
  .main .caixa-recarga {
    margin-left: 25px;
    margin-top: 20px !important;
  }
  .main .caixa-recarga .card1 {
    margin-bottom: 30px;
  }
  .main .caixa-recarga .card .card-title {
    margin-left: 0px !important;
  }
  .main .caixa-recarga .icon {
    margin-left: 75px !important;
  }
  .main .caixa-recarga .acessob {
    margin-bottom: 50px !important;
  }
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
  }
  .footer .menu {
    width: 100%;
    margin-right: 11px !important;
    padding-bottom: 15px;
  }
  .main .busca {
    display: none;
  }
  .main .container.caixa-recarga .card.card1 {
    margin-left: 0px;
  }
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .header {
    display: none;
  }
  .main {
    position: relative;
  }
  .main .caixa-recarga {
    margin-left: 0px;
    margin-top: 20px !important;
  }
  .main .caixa-recarga .acessob {
    margin-bottom: 80px !important;
  }
  .main .caixa-recarga .card1 {
    margin-bottom: 30px;
  }
  .main .caixa-recarga .card .card-title {
    margin-left: 0px !important;
  }
  .main .caixa-recarga .icon {
    margin-left: 75px !important;
  }
  .footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    padding-bottom: 10px !important;
  }
  .main .busca {
    display: none;
  }
  .main .container.caixa-recarga .card.card1 {
    margin-left: 0px;
    margin-bottom: 100px;
  }
  .main .caixa-recarga .card1 .test .btn2 {
    color: white;
    background-color: green;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 130px;
  }
  .main .caixa-recarga .card1 .test .btn2:disabled {
    color: black;
    background-color: grey;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 130px;
  }
  #recarrega .container.recargaValor .titulo {
    margin-left: 0px;
  }
  #recarrega .container.recargaValor .caixa-saldo {
    margin-left: -30px;
    background-color: #27364d;
    width: 25rem !important;
  }
  #recarrega .container.recargaValor .caixa-saldo {
    margin-left: -30px !important;
    width: 288px !important;
  }
  #sld {
    margin: 10px;
    width: 250px !important;
  }
  #depositar {
    background-color: #ffaa00;
    border: 1px solid black;
    width: 250px !important;
    margin-left: 8px;
  }
  #conteudo {
    margin-top: 30px;
  }
  #conteudo .card-body {
    margin: 0px 0px !important;
    margin-left: -50px !important;
  }
  #conteudo .titulo-metodo {
    margin: 0px 0px !important;
    font-size: large;
    margin-bottom: 10px !important;
  }
  #caixa-choice .titulo-pag {
    font-size: medium;
    margin-left: 0px !important;
  }
  #caixa-choice .iconPag1 {
    margin-left: -30px !important;
  }
  #caixa-choice .iconPag2 {
    margin-left: -30px !important;
  }
  #caixa-choice .iconPag3 {
    margin-left: -30px !important;
  }
  #conteudo .input-xlarge {width: 280px;}
  #conteudo .span4 {width: 280px;}
}
/*Recargar*/

#recarrega .container.recargaValor .caixa-saldo {
  background-color: #27364d;
  width: 500px;
  margin-left: 80px;
  border-radius: 5px;
  height: 150px;
}
#recarrega .container.recargaValor .caixa-saldo .textoSaldo {
  font-size: large;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}
#sld {
  margin: 10px;
  width: 455px;
}
#depositar {
  background-color: #ffaa00;
  border: 1px solid black;
  width: 458px;
  margin-left: 8px;
}

#conteudo .titulo-metodo {
  margin: 20px 130px;
}
#conteudo .card-body {
  margin: 0px 120px;
}
#caixa-choice {
  margin: 0px 100px;
}
#caixa-choice .titulo-pag {
  font-size: medium;
  margin-left: 80px;
}
#caixa-choice .iconPag1 {
  margin-left: 50px;
}
#caixa-choice .iconPag2 {
  margin-left: 50px;
  margin-top: 30px;
}
#caixa-choice .iconPag3 {
  margin-left: 50px;
  margin-top: 10px;
}
